In [16]:
import sqlite3 as lite

# DB연결
conn = lite.connect('user.db')

# ---하나의 과정---

cur = conn.cursor()    # 커서 생성
cur.execute("SELECT * from user")   # 커서를 이용하여 sql문 실행
rows = cur.fetchall()   # 파이썬이 이해할 수 있도록 fetch & 줄마다 반복문 실행

for row in rows:
    print(row)
conn.close()
#---------------

In [17]:
cur = conn.cursor()
cur.execute("INSERT INTO user (name, age, lang) \
VALUES('ythwork', 30, 'c')")
cur.execute("INSERT INTO user (name, age, lang) \
VALUES('abc', 30, 'golang')")
cur.execute("INSERT INTO user (name, age, lang) \
VALUES('dongdong', 29, 'fb')")

cur.execute("SELECT * from user")
rows = cur.fetchall()

for row in rows:
    print(row)
conn.commit()    # 데이터 삽입을 한 경우에는 커밋을 해줘야한다. 단순조회만 한 경우에는 안해도 됨(위)
conn.close()

ProgrammingError: Cannot operate on a closed database.

In [15]:
#fetch all생략
conn = lite.connect('user-temp.db')
with conn:
    cur = conn.execute("select id, name, age, lang from user")
    for row in cur:
        print("id= ", row[0])
        print("name= ", row[1])
        print("age= ", row[2])
        print("lang= ", row[3], "\n")
        
print("print closed")
conn.close()

OperationalError: no such table: user

In [18]:
# UPDATE
conn = lite.connect('user.db')
cur = conn.cursor()

with conn:
    conn.execute("UPDATE user SET lang = 'python' where id = 2")
    conn.commit()
conn.close()

In [19]:
# UPDATE 조회
conn = lite.connect('user.db')
cur = conn.cursor()
with conn:
    rows = conn.execute("SELECT id, name, age, lang from user")
    for row in rows:
        print("id= ", row[0])
        print("name= ", row[1])
        print("age= ", row[2])
        print("lang= ", row[3], "\n")
    
conn.close()

AttributeError: type object 'list' has no attribute 'connect'

In [20]:
# DELETE + 조회
conn = lite.connect('user.db')
with conn:
    conn.execute("DELETE from user where id = 3")
    conn.commit()
    print("Deletion complete", "\n")
    
    user_data = conn.execute("SELECT id, name, age, lang from user")
    for user in user_data:
        print("id= ", row[0])
        print("name= ", row[1])
        print("age= ", row[2])
        print("lang= ", row[3], "\n")
        
conn.close()

# 이후 새로운 데이터를 추가하게되면 지워진 3번에 추가되는 것이 아니라 5번에 생성된다.

Deletion complete