In [1]:
# DB생성 
import sqlite3 as lite

# DB연결
conn = lite.connect("dongari.db")

cur = conn.cursor()
cur.execute("SELECT * FROM members")
rows = cur.fetchall()

for row in rows:
    print(row)

conn.close()

(1, '박철민', 23, '컴공과', 821027593459)

In [4]:
conn = lite.connect("dongari.db")

cur = conn.cursor()

cur.execute("INSERT INTO members (name, age, major, phone_number) \
VALUES('이혜진', 23, '사회학과', 01029329344)")
cur.execute("INSERT INTO members (name, age, major, phone_number) \
VALUES('박희진', 22, '국문학과', 01039894839)")
cur.execute("INSERT INTO members (name, age, major, phone_number) \
VALUES('박민수', 25, '사회학과', 01090389232)")
cur.execute("INSERT INTO members (name, age, major, phone_number) \
VALUES('최지혜', 24, '컴공과', 01078374234)")
cur.execute("INSERT INTO members (name, age, major, phone_number) \
VALUES('김경진', 23, '컴공과', 01039402941)")
cur.execute("INSERT INTO members (name, age, major, phone_number) \
VALUES('김기철', 23, '국문학과', 01090378872)")
cur.execute("INSERT INTO members (name, age, major, phone_number) \
VALUES('오민식', 26, '컴공과', 01083984924)")
cur.execute("INSERT INTO members (name, age, major, phone_number) \
VALUES('이민지', 24, '사회학과', 01032894328)")
cur.execute("INSERT INTO members (name, age, major, phone_number) \
VALUES('민지현', 22, '국문학과', 01023940329)")
cur.execute("INSERT INTO members (name, age, major, phone_number) \
VALUES('임원희', 25, '사회학과', 01029344435)")
cur.execute("INSERT INTO members (name, age, major, phone_number) \
VALUES('곽민지', 22, '국문학과', 01090993758)")
cur.execute("INSERT INTO members (name, age, major, phone_number) \
VALUES('최성원', 24, '컴공과', 01082763453)")
cur.execute("INSERT INTO members (name, age, major, phone_number) \
VALUES('정은비', 25, '컴공과', 01063049530)")
cur.execute("INSERT INTO members (name, age, major, phone_number) \
VALUES('이수원', 24, '국문학과', 01090908273)")

cur.execute("SELECT * from members")
rows = cur.fetchall()

for row in rows:
    print(row)
conn.commit()
conn.close()

(1, '박철민', 23, '컴공과', 821027593459)
(2, '이혜진', 23, '사회학과', 1029329344)
(3, '박희진', 22, '국문학과', 1039894839)
(4, '박민수', 25, '사회학과', 1090389232)
(5, '최지혜', 24, '컴공과', 1078374234)
(6, '김경진', 23, '컴공과', 1039402941)
(7, '김기철', 23, '국문학과', 1090378872)
(8, '오민식', 26, '컴공과', 1083984924)
(9, '이민지', 24, '사회학과', 1032894328)
(10, '민지현', 22, '국문학과', 1023940329)
(11, '임원희', 25, '사회학과', 1029344435)
(12, '곽민지', 22, '국문학과', 1090993758)
(13, '최성원', 24, '컴공과', 1082763453)
(14, '정은비', 25, '컴공과', 1063049530)
(15, '이수원', 24, '국문학과', 1090908273)

In [5]:
conn = lite.connect("dongari.db")

with conn:
    cur = conn.execute("select id name, age, major, phone_number from members")
    for row in cur:
        print("id = ",row[0])
        print("age = ", row[1])
        print("major = ", row[2])
        print("phone_number = ", row[3], "\n")
        
print("print closed")
conn.close()

id =  1
age =  23
major =  컴공과
phone_number =  821027593459

id =  2
age =  23
major =  사회학과
phone_number =  1029329344

id =  3
age =  22
major =  국문학과
phone_number =  1039894839

id =  4
age =  25
major =  사회학과
phone_number =  1090389232

id =  5
age =  24
major =  컴공과
phone_number =  1078374234

id =  6
age =  23
major =  컴공과
phone_number =  1039402941

id =  7
age =  23
major =  국문학과
phone_number =  1090378872

id =  8
age =  26
major =  컴공과
phone_number =  1083984924

id =  9
age =  24
major =  사회학과
phone_number =  1032894328

id =  10
age =  22
major =  국문학과
phone_number =  1023940329

id =  11
age =  25
major =  사회학과
phone_number =  1029344435

id =  12
age =  22
major =  국문학과
phone_number =  1090993758

id =  13
age =  24
major =  컴공과
phone_number =  1082763453

id =  14
age =  25
major =  컴공과
phone_number =  1063049530

id =  15
age =  24
major =  국문학과
phone_number =  1090908273

print closed